<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IGCT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">  <img alt="" src="images/LOGO.jpg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a></li>
         <li class="nav-item"><a class="nav-link" href="getCourse">Courses</a> </li>        
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>        
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        
      </ul>
      
      <a href="" class="btn btn-danger">Login</a>
    </div>
  </div>
</nav>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/baca.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/ba.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item"> <img src="images/bba.jpg" class="d-block w-100" alt="..."> </div>
     <div class="carousel-item"> <img src="images/BCA.jpg" class="d-block w-100" alt="..."> </div>
     <div class="carousel-item"> <img src="images/bcom.jpg" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="images/bcomCA.jpg" class="d-block w-100" alt="..."> </div>
    
    <div class="carousel-item"> <img src="images/bmlt.jpg" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="images/dmlt.jpg" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="images/DCA.jpg" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="images/pgdca.jpg" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="images/ma.jpg" class="d-block w-100" alt="..."> </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div>
<hr>
</div>
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="images/img18.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="images/img17.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
    <img
      src="images/img9.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="images/img1.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="images/img.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
    
     <img
      src="images/img11.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
    
    <img
      src="images/img20.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
    <img
      src="images/img19.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="images/img2.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="images/img21.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>