<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    
    <h2> Thank you for contacting us. we'll get back to you shortly..!</h2>
    <h2> Indira Gandhi Institution</h2>
    
    <!-- <span>Full name:</span><span th:text="${blankform.fullname}"></span><br/>
    <span>E-mail:</span><span th:text="${blankform.email}"></span><br/>
    <span>Phone:</span><span th:text="${blankform.phone}"></span><br/>
    <span>Gender:</span><span th:text="${blankform.gender}"></span><br/>
    <span>Course:</span><span th:text="${blankform.course}"></span><br/>
    
    <span>Note:</span><span th:text="${blankform.note}"></span><br/> -->
</div>
</body>
</html>